<main class="article">
      <h1 class="title text-center">Framework about to be published soon. Keep an eye on it</h1>

{{> toolbar}}
  <div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> toc}}
{{> article}}
{{/if}}
  </div>
</main>
