<main class="article">
      <h2 class="title text-center" style="color: #28b76b" id="countdown"></h1>

{{> toolbar}}
  <div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> toc}}
{{> article}}
{{/if}}
  </div>
</main>
