<div class="nav-container">
<div class="nav-header">
      <h1 class="title text-center">Framework about to be published soon. Keep an eye on it</h1>
</div>
  <aside class="nav">
    <div class="panels">
{{> nav-menu}}
{{> nav-explore}}
    </div>
  </aside>
</div>
